# Dependencies
BACKEND/node_modules/
frontend/node_modules/

# Environment variables
BACKEND/.env
frontend/.env

# Build output
frontend/build/

# Logs
*.log

# Old frontend Git metadata
frontend/.git_backup/













